.Category-card-container {
  height: 46rem;
  width: 100%;
  gap: 1rem;
  cursor: pointer !important;
}
.category-image-container {
  margin-top: 2rem;
  width: 40%;
  justify-content: center;
  object-fit: contain;
}
.category-image {
  cursor: pointer;
  height: 41rem;
  width: 41rem;
  padding: 0.8rem;
  border: 2px solid var(--primary-color);
}
.category-description-container {
  width: 60%;
  display: flex;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  gap: 4px;
}
.category-title {
  font-size: 3rem;
  color: var(--primary-dark-color);
}
.category-description {
  font-size: 2rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .Category-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    margin-bottom: 13rem;
  }
  .category-description-container {
    margin-left: 2rem;
    width: 70%;
  }
  .category-title {
    font-size: 2.5rem;
  }
  .category-description {
    font-size: 1.8rem;
  }
  .category-image {
    cursor: pointer;
    height: 400px;
    width: 400px;
  }
}
