.watchlater-video-with-sidebar-container {
  height: auto;
}
.watchlater-videos-container {
  margin: 10rem 0 2rem 20rem;
  padding: 5px;
}
.videos-of-watch-later-container {
  flex-wrap: wrap;
  width: 100rem;
  column-gap: 3rem;
}
.watchlater-video-heading {
  font-size: 2.3rem;
  margin-left: 2rem;
  color: var(--dark-stone);
  align-self: flex-start;
}
@media only screen and (min-width: 320px) and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .videos-of-watch-later-container {
    flex-direction: column;
    width: 40rem;
    margin-left: -2rem;
  }
  .watchlater-videos-container {
    margin: 14rem 0;
  }
  .watchlater-video-heading {
    font-size: 1.8rem;
  }
}
