.Video-page-list-container {
  margin-top: 9.2rem;
  height: 100vh;
}
.filter-video-container {
  flex-direction: column;
  margin-left: 19rem;
  height: 100vh;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .filter-video-container {
    justify-content: center;
    flex-basis: 100%;
    margin-left: -16rem;
    margin-top: -21rem;
  }
}
