.playlist-video-with-sidebar-container {
  height: auto;
}
.playlist-videos-container {
  margin: 10rem 0 2rem 20rem;
  padding: 5px;
}
.videos-of-playlist-container {
  flex-wrap: wrap;
  column-gap: 3rem;
}
.playlist-video-heading {
  font-size: 2.3rem;
  margin-left: 2rem;
  color: var(--dark-stone);
  align-self: flex-start;
}

.title-and-delete-icon-container {
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  font-size: 1.8rem;
  margin: 2rem 0 0 1rem;
  color: var(--primary-dark-color);
  font-weight: bolder;
  gap: 10rem;
}
.trash-icon {
  cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .videos-of-playlist-container {
    flex-direction: column;
    /* width: 38rem; */
    margin-left: -2rem;
  }
  .playlist-videos-container {
    margin: 14rem 0;
  }
  .playlist-video-heading {
    font-size: 1.8rem;
  }
  /* .title-and-delete-icon-container {
    width: 36rem;
  } */
}
