.sidebar-item-container {
  flex-basis: 20%;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: white;
  border-right: 1px solid var(--light-stone);
  margin-top: 7.8rem;
  color: var(--dark-stone);
  cursor: pointer;
}
.sidebar-item-with-icon {
  gap: 2rem;
  font-size: 2rem;
  font-weight: 300;
  padding: 9px;
  padding-left: 1.9rem;
  margin: 10px;
  margin-left: 0;
  width: 17rem;
  text-align: left;
}
.sidebar-item-title {
  font-size: 1.7rem;
}
.sidebar-item-with-icon:hover {
  background-color: var(--primary-light);
  border-radius: 5px;
  color: var(--white-color);
  cursor: pointer;
}
.sidebar-item-with-icon.selected {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .sidebar-item-container {
    display: none;
    flex-basis: 10%;
    margin-top: 13rem;
  }
  .sidebar-item-with-icon {
    width: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
}
