.footer {
  background-color: var(--white-color);
  box-shadow: 0.3rem 0.2rem 1rem var(--light-stone);
  padding: 2rem 1rem;
  color: var(--primary-dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.footer-heading {
  font-size: medium;
  color: var(--primary-dark-color);
}
.nav-icon {
  color: var(--primary-dark-color);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 880px) and (-webkit-min-device-pixel-ratio: 2) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .nav-items {
    margin-right: auto;
  }
  .nav-icon {
    font-size: 1.3rem;
  }
}
