@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto Condensed", sans-serif;
  /* background-color: #0e0d0d; */
}
.flex-center {
  display: flex;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
li {
  list-style: none;
}
.btn-primary-first {
  background-color: var(--primary-medium-color);
  width: 11rem;
}
.btn-primary-first:hover {
  border: 1px solid;
  color: var(--primary-dark-color);
  font-weight: bold;
  cursor: pointer;
}
.flex-direction-column {
  flex-direction: column;
}
.input-textbox:focus {
  border: 1px solid var(--olive-color);
  box-shadow: 2px 2px 4px var(--light-stone);
  outline: none;
}
.btn:hover {
  border: none;
}

:root {
  --primary-color: #7b19f7;
  --primary-color-light: #b481f8;
  --modal-background: #b43bec;
  --blue-saphhire: #0b4f6c;
  --purple-color: #7b89e6;
  --primary-medium-color: #603d8f;
  --primary-dark-color: #460b94;
  --primary-light: #8c73af;
  --primary-extra-light: rgb(158, 115, 211);
  --olive-color: #949100;
  --secondary-color: #b4b23b;
  --secondary-light-color: #d8d337;
  --light-olive: #e0dc22;
  --gray-color: rgb(211, 209, 209);
  --primary-black: #141414;
}
